body {
	margin: 0px;
	padding: 0px;
	max-width: 1920px;
	margin: 0px auto;
}

.content {
	max-width: 1200px;
	margin: 0px auto;
}
.logo {
	margin: 0px auto;
	width: 500px;
}
.logo img {
	width: 500px;
}
nav {
	width: 96.75%;
	background-color: rgb(157, 157, 157);
	padding: 30px;
}
nav a {
	text-decoration: none;
	color: white;
}
.nav_container {
	width: 70%;
	margin: 0px auto;
	display: flex;
	justify-content: space-between;
	font-size: 24px;
}

.slider {
	width: 700px;
	display: block;
	overflow: hidden;
	margin: 0px auto;
}
.slider-line {
	position: relative;
	display: flex;
	width: 3500px;
	transition: all ease 1s;
}
.slider-line img {
	width: 700px;
}
.slider-button {
	display: flex;
	justify-content: center;
}
